<md-dialog aria-label="" ng-cloak ng-controller="BusquedaPacienteController"> 
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Busqueda Paciente</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          Close dialog
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Buscar el paciente</h2>
      </div>
      <md-input-container>
        <label>DNI</label>
        <input required name="dni" ng-value="">
      </md-input-container>
      <md-input-container>
        <label>Nombre Y Apellido</label>
        <input required name="nombreYApellido" ng-value="">
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancelar()">
       Cancelar
      </md-button>
      <md-button ng-click="buscarPaciente()" style="margin-right:20px;">
        Buscar Paciente
      </md-button>
    </md-dialog-actions>
  </form>
  <div ng-show="mostrarBusqueda" class="ng-hide">
    Resultado Búsqueda
    <md-card ng-repeat="pacienteFiltrado in pacientesFiltrados">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{pacienteFiltrado.nombreYApellido}}</span>
          <span class="md-subhead">{{pacienteFiltrado.dni}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Editar</md-button>
        <md-button>Ingresar</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-dialog>




